@charset "UTF-8";

/* ==========================================================
 html5 elements
========================================================== */
article, aside, figure, figcaption, footer, header, nav, section
{ display: block;}
/* ==========================================================
 reseting
========================================================== */
body {
  line-height: 1.6;
  color: #f00;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
body, input, textarea, select, button {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  /* 明朝フォント
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho", YuMincho, serif;*/
}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td, button, figure, figcaption
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
input, textarea, select
{ /*-webkit-appearance: none;*/}
textarea
{ resize: none;}
button
{ border: none; overflow: visible; background: none; vertical-align: top;  font-size: 100%; color: inherit; cursor: pointer; -webkit-appearance: none;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ height: auto; vertical-align: top;}
address, caption, code, em, th
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6, strong, em
{ font-size: 100%; font-weight: normal;}
a, input
{/* outline: none; -webkit-tap-highlight-color:rgba(0,0,0,0);*/}
sup, sub
{ font-size: 63%;}
sup
{ vertical-align: top;}
sub
{ vertical-align: baseline;}
*
{ box-sizing: border-box; -webkit-box-sizing: border-box;}
/* ==========================================================
 base Link
========================================================== */
a {
  color: #f00;
  text-decoration: none;
}
a:visited {}
a:hover,
a:active,
a:focus { text-decoration: underline;}
/* ==========================================================
 clearfix
========================================================== */
.clearfix:before, .clearfix:after,
.contents:before, .contents:after
{
  content: "";
  display: table;
}
.clearfix:after,
.contents:after
{
  clear: both;
}
/* For IE 6/7
---------------------------------------------------------- */
.clearfix,
.contents
{
  *zoom: 1;
}
/* ==========================================================
 layout
========================================================== */
html { overflow-y: scroll;}
body { text-align: center;}
/* ==========================================================
 wrapper
========================================================== */
.wrapper {
  width: 100%;
}
/* ==========================================================
 header
========================================================== */
.header {
  width: 100%;
}
  .header-in {
    width: 960px;
    margin: 0 auto;
    text-align: left;
  }
  .header-logo {
  }
  .header-utility {
  }
    .header-search {
    }
    .header-links {
    }
      .header-links li {
      }
/* ==========================================================
 nav-global
========================================================== */
.nav-global {
}
  .nav-global li {
  }
    .nav-global li a {
    }
    .nav-global li a:hover {
    }
/* ==========================================================
 nav-local
========================================================== */
.nav-local {
}
  .nav-local li {
  }
    .nav-local li a {
    }
    .nav-local li a:hover {
    }
/* ==========================================================
 nav-breadcrumb
========================================================== */
.nav-breadcrumb {
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
}
  .nav-breadcrumb li {
    float: left;
    white-space: nowrap;
  }
  .nav-breadcrumb li.home {
  }
    .nav-breadcrumb li a {
    }
/* ==========================================================
 contents
========================================================== */
.contents {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}
.contents-main {
  float: right;
  width: 640px;
}
.contents-sub {
  float: left;
  width: 300px;
}
/* ==========================================================
 footer
========================================================== */
.footer {
  width: 100%;
}
  .footer-in {
    width: 960px;
    margin: 0 auto;
    text-align: left;
  }
  .footer-utility {
  }
    .footer-links {
    }
      .footer-links li {
      }
  .footer-copyright {
  }
/* ==========================================================
 grid
========================================================== */
/* grid-cmn
---------------------------------------------------------- */
.grid-cmn {
}
  .grid-cmn > .col {
  }
/* ==========================================================
 area
========================================================== */
/* area-cmn
---------------------------------------------------------- */
.area-cmn {
}
/* ==========================================================
 section
========================================================== */
/* sec-cmn
---------------------------------------------------------- */
.sec-cmn-01 {
}
/* section last margin */
section:last-of-type {
  margin-bottom: 0;
}
/* ==========================================================
 box
========================================================== */
/* box-cmn
---------------------------------------------------------- */
.box-cmn {
}
/* ==========================================================
 hero
========================================================== */
/* hero-cmn
---------------------------------------------------------- */
.hero-cmn {
}
/* ==========================================================
 module
========================================================== */

/* ==========================================================
 title
========================================================== */
/* ttl-cmn-01
---------------------------------------------------------- */
.ttl-cmn-01 {
}
/* ttl-cmn-02
---------------------------------------------------------- */
.ttl-cmn-02 {
}
/* ttl-cmn-03
---------------------------------------------------------- */
.ttl-cmn-03 {
}
/* ==========================================================
 text
========================================================== */
/* txt-cmn
---------------------------------------------------------- */
.txt-cmn {
}
/* ==========================================================
 list
========================================================== */
/* list-cmn
---------------------------------------------------------- */
.list-cmn {
}
  .list-cmn li {
  }
/* ==========================================================
 table
========================================================== */
/* table-cmn
---------------------------------------------------------- */
.table-cmn {
}
  .table-cmn th,
  .table-cmn td {
  }
  .table-cmn th {
  }
  .table-cmn td {
  }
/* ==========================================================
 button
========================================================== */
/* btn-cmn
---------------------------------------------------------- */
.btn-cmn {
}
/* pagetop
---------------------------------------------------------- */
.btn-cmn-pagetop {
  text-align: right;
}
/* ==========================================================
 link
========================================================== */
/* link-cmn
---------------------------------------------------------- */
.link-cmn {
}
/* ==========================================================
 icon
========================================================== */
/* ico-cmn
---------------------------------------------------------- */
.ico-cmn {
}
/* ==========================================================
 figure
========================================================== */
/* fig-cmn
---------------------------------------------------------- */
.fig-cmn {
}
/* ==========================================================
 image
========================================================== */
/* img-cmn-adjust
---------------------------------------------------------- */
.img-cmn-adjust {
}
/* ==========================================================
 form
========================================================== */
/* base Form
---------------------------------------------------------- */
/* type="text" */
input[type="text"] {
}
/* type="checkbox" */
input[type="checkbox"] {
}
/* type="radio" */
input[type="radio"] {
}
/* select */
select {
}
/* textarea */
textarea {
}
/* button */
button {
}
/* class Form
---------------------------------------------------------- */
/* form-cmn-input
---------------------------------------------------------- */
.form-cmn-input {
}
/* form-cmn-check
---------------------------------------------------------- */
.form-cmn-check {
}
/* form-cmn-radio
---------------------------------------------------------- */
.form-cmn-radio {
}
/* form-cmn-select
---------------------------------------------------------- */
.form-cmn-select {
}
/* form-cmn-textarea
---------------------------------------------------------- */
.form-cmn-textarea {
}
/* form-cmn-button
---------------------------------------------------------- */
.form-cmn-button {
}
/* ==========================================================
 is
========================================================== */
/* opacity hover
---------------------------------------------------------- */
.is-opacity
{
  -ms-filter: 'alpha( opacity=100)';
  opacity: 1;
}
.is-opacity:hover
{
  -ms-filter: 'alpha( opacity=70)';
  filter: alpha( opacity=70);
  opacity: 0.7;
}
/* css animation 
---------------------------------------------------------- */
.is-animate
{
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ==========================================================
 style
========================================================== */
.s-fw-n     { font-weight: normal;}
.s-fw-b     { font-weight: bold;}
.s-ta-l     { text-align: left !important;}
.s-ta-c     { text-align: center !important;}
.s-ta-r     { text-align: right !important;}
.s-va-t     { vertical-align: top !important;}
.s-va-m     { vertical-align: middle !important;}
.s-va-b     { vertical-align: bottom !important;}
.s-ov-h     { overflow: hidden;}
.s-clear    { clear: both;}
.s-hide     { display: none;}
.s-txt-hide { text-indent: 100%; white-space: nowrap; overflow: hidden;}
.s-bg-n     { background: none !important;}
.s-mt-00    { margin-top: 0 !important;}
.s-mb-00    { margin-bottom: 0 !important;}
.s-ml-00    { margin-left: 0 !important;}
.s-mr-00    { margin-right: 0 !important;}
/* ==========================================================
 rwd switch
========================================================== */
/* pc
---------------------------------------------------------- */
.only-pc {}
.only-tb,
.only-sp,
.no-pc { display: none !important;}
.no-tb {}
.no-sp {}
/* tb
---------------------------------------------------------- */
@media screen and (max-width: 1024px) {
.only-pc,
.no-tb    { display: none !important;}
.only-tb,
.no-pc    { display: block !important;}
img.only-tb,
img.no-pc { display: inline-block !important;}
}
/* sp
---------------------------------------------------------- */
@media screen and (max-width: 768px) {
.only-pc,
.no-sp,   
.only-tb,
img.only-tb  { display: none !important;}
.only-sp,
.no-pc,
.no-tb     { display: block !important;}
img.only-sp,
img.no-pc,
img.no-tb  { display: inline-block !important;}
}
/* ==========================================================
 tool
========================================================== */
.atode { padding: 10px; border: 2px solid #8c0000; background-color: #ff4d4d; color: #fff; font-size: 30px; text-align: center;}