@charset "utf-8";

body {
    -webkit-text-size-adjust:100%
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #CCCCCC;
	padding:5px;
	*padding:0;
}
table {
	font-size:inherit;
	font-size:100%;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
}

