@charset "utf-8";
/*-----------------------------------------------
ユーザーフォームのレイアウト
theme2.css
-----------------------------------------------*/

body{
	background:#e2e2e2;			
}
#mainContent {
	background:#FFF;
	margin:0 auto;
	padding:40px 30px;
   	border-radius: 10px;         /* CSS3 */
	-moz-border-radius: 10px;    /* Firefox */
	-webkit-border-radius: 10px; /* Safari,Chrome */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
#mainContent h1 {
	font-size:20px;
	border-bottom:5px solid #e2e2e2;
	padding-bottom:0;	
	margin-bottom:20px;
	*margin-bottom:10px;
	*padding-bottom:5px;
}
#designContainer hr {
}
#designContainer select {
    /*
	border:1px solid #555;
    */
}
#designContainer .btnSubmit {
	text-align:center;
	margin-top:10px;
}
#designContainer .btnSubmit input {
	padding:4px 10px;
	color:#555;
	font-weight:bold;
	width:140px;
	height:40px;
	border:1px solid #b2b2b2;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(235, 235, 235, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 ); /* IE6-9 */
   	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.30);
}
#designContainer .btnSubmit input:hover {
	background: rgb(235,235,235); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(235, 235, 235, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
   	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);
}